<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Bourbons Index</title>
</head>
<body>
    <header>
        <img src="https://i.postimg.cc/V6yr3KXC/bourbon.jpg">
        <span class="bourbon"> The Beginner's Bourbon </br> Cocktail Compendium </span>
        </header>
        <ul>
            <% for (let i = 0; i < bourbons.length; i++) { %>
                <li>
                    <a id="bourbon-link" href="/bourbons/<%= bourbons[i].id %>">
                        <img class="icon" src="<%= bourbons[i].image %>">
                    </a>
                    <form id="delete" action="/bourbons/<%= bourbons[i].id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                    <button id="edit"><a id="edit" href="/bourbons/<%= bourbons[i].id %>/edit">Edit</a></button>
                </li>
            <% } %>
            </br><li>
                    <a id="new" href="/bourbons/new">Post a New Bourbon</a>
                    <img class="icon" src="https://i.postimg.cc/Px5y5Y4K/1.png">
                </li>
        </ul>
</body>
</html>