<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Cocktails Index</title>
</head>
<body>
    <header class="bourbon">Bourbon Cocktails</header>
        <ul>
            <% for (let i = 0; i < cocktails.length; i++) { %>
                <li>
                    <a href="/cocktails/<%= cocktails[i].id %>">
                        <%= cocktails[i].name %>
                    </a>
                    <form action="/cocktails/<%= cocktails[i].id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                    <button><a href="/cocktails/<%= cocktails[i].id %>/edit">Edit</a></button>
                </li>
            <% } %>
        </ul>
        <nav>
            <a href="/cocktails/new">Craft a New Cocktail</a>
        </nav>
</body>
</html>