<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails New</title>
</head>
<body>
    <h1>Craft a New Cocktail</h1>
    <form action="/cocktails/" method="POST">
        <input type="text" name="name" id="name" placeholder="Name"></br>
        <input type="text" name="tools" id="tools" placeholder="Tools"></br>
        <input type="text" name="glass" id="glass" placeholder="Glass"></br>
        <input type="text" name="method" id="method" placeholder="Method"></br>
        <input type="text" name="pourChoice" id="pourChoice" placeholder="Pour Choice"></br>
        <input type="text" name="otherIngredients" id="otherIngredients" placeholder="Other Ingredients"></br>
        <input type="text" name="garnish" id="garnish" placeholder="Garnish"></br>
        <label for="classic">Classic</label>
        <input type="checkbox" name="classic" id="classic" />
        <label for="contemporary">Contemporary</label>
        <input type="checkbox" name="contemporary" id="contemporary" /></br>
        <input type="text" name="funFact" id="funFact" placeholder="Fun Fact"></br>
        <input type="text" name="image" id="image" placeholder="Image File"></br>
        <input type="submit" value="Craft Your Cocktail">
</body>
</html>