<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails Show</title>
</head>
<body>
    <h1><%= cocktail.name %></h1>
        <h2>
            <% if (cocktail.classic === true) { %>
                <span> Classic </span>
                <% } else if (cocktail.classic === false){ %>
                    <span> Contemporary </span>
                    <% } %>
        </h2>
        <img src="<%= cocktail.image %>" />
    <a href="/cocktails/">BACK</a>
</body>
</html>