<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Cocktails Show</title>
</head>
<body>
    <h1><%= cocktail.name %></h1>
        <h2>
            <% if (cocktail.classic === true) { %>
                <span> Classic </span>
                <% } else if (cocktail.classic === false){ %>
                    <span> Contemporary </span>
                    <% } %>
        </h2>
        <span>
            <img src="<%= cocktail.image %>">
        </span></br>
    <a href="/cocktails/">BACK</a>
</body>
</html>