.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}  

body {
    margin: 0;
    background-color: antiquewhite;
    font-family: "Special Elite", system-ui;
}

header {
    color: antiquewhite;
}

span.bourbon {
    font-size: xx-large;
    position: absolute;
    top: 100px;
    left: 50px;
}

h1 {
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    display: inline-block;
}

h2 {
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    display: inline-block;
}

a#link {
    font-family: "Special Elite", system-ui;
    color: black;
    text-decoration: none;
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    text-shadow: 1px 1px 1px black;
}

a#edit {
    font-family: "Special Elite", system-ui;
    color: black;
    text-decoration: none;
}

a#new {
    font-family: "Special Elite", system-ui;
    color: black;
    text-decoration: none;
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    text-shadow: 1px 1px 1px black;
}

a#bourbon-link {
    text-decoration: none;
}

a:hover {
    font-family: "Special Elite", system-ui;
    color: ghostwhite;
}

#container {
    display: inline-block;
    position: relative;
    height: 1000px;
}

#cocktail-image {
    position: absolute;
    left: 0;
    top: 0;
}

#cocktail-name {
    z-index: 100;
    position: absolute;
    color: white;
    left: 15px;
    top: 450px;
}

#cocktail-type {
    z-index: 100;
    position: absolute;
    color: white;
    left: 45px;
    top: 450px;
}

img.icon {
    height: 300px;
    border-radius: 10px;
}

img#cocktail-image {
    display: inline-block;
}

ul#cocktail-deets {
    display: inline-block;
}

li {
    margin-bottom: 10px;
    font-family: "Special Elite", system-ui;
    list-style: none;
    display: inline-block;
}

li a {
    font-family: "Special Elite", system-ui;
    color: rgb(179, 123, 60);
}

input[type=text] {
    font-family: "Special Elite", system-ui;
}

input[type=submit] {
    font-family: "Special Elite", system-ui;
}